body {
  margin: 0;
  font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#root {
  /*margin: 120px;*/
  padding-left: 200px;
  padding-right: 200px;
  height: 100%;
}